// Specific CSS for your home-page
$primary-color: #FDB631;

.banner {
  color: white;
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}
.banner h1 {
  font-size: 50px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 25px;
  font-weight: lighter;
  color: rgb(255, 255, 255);
  opacity: 0.6;
  margin-bottom: 30px;
}

#input-fields {
  display: flex;
  width: 50vw;
  margin: 0 auto;
  font-size: 8px;
}

.form-control {
  font-size: 8px;
}

.form_submit {
  font-size: 8px;
  background-color: $primary-color;
  border-style: none;
  color: white;
  border-radius: 2px;
  display: block;
  margin: 20px auto;
}
