.reservations {
  h1 {
    margin-left: 10px;
  }
}

.reservation-card {
 margin: 0px;
 color: gray;
 font-size: 12px;
 font-weight: lighter;
 margin-top: 20px;
}

.reservation-image {
  margin: 0px;
}
