
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://higherlogicdownload.s3.amazonaws.com/NSACCT/7e1b22bb-4736-47f7-a45d-41ce8d27e073/UploadedImages/bigstock-set-of-tools-in-tool-box-on-a--51238249.jpg');">
  <div class="banner-content">
    <h1>Tools for Life</h1>
    <p>Available when it is needed</p>
    <a class="btn btn- btn-lg">Find your appliance</a>
  </div>
</div>

<form action="/action_page.php">
  <fieldset>
    <legend>Location information:</legend>
    Street name:<br>
    <input type="text" name="street" value="Type here"><br>
    City:<br>
    <input type="text" name="city" value="Type here"><br><br>
    <%= link_to '<input type="submit" value="Submit">' , items_path %>
  </fieldset>
</form>

<form>
  <input type="radio" name="category" value="kitchen" checked> Kitchen<br>
  <input type="radio" name="category" value="garden"> Garden<br>
  <input type="radio" name="category" value="garden"> Panting<br>
  <input type="radio" name="category" value="garden"> Contruction<br>
  <input type="radio" name="category" value="other"> Other
</form>








